.cart-container {
	display: flex;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 8px;
	padding: 0 10px;
	margin: 7px 0;
}
.cart-container img {
	width: 85px;
	padding: 4px 0;
}
.cart-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
    color: rgb(85, 85, 85);
}
.cart-info h4 {
	margin: 0;
	font-size: 17px !important;
}
.cart-info h5 {
	margin: 0;
	padding-bottom: 5px;
	font-size: 15px;
}

@media screen and (max-width: 600px) {
	.cart-container {
        padding: 0 4px;
        margin: 7px 0;
        flex-direction: column;
        align-items: center;
    }
    .cart-info h5 {
        margin: 0;
        padding-bottom: 5px;
        font-size: 13px;
    }
    .cart-info h4 {
        margin: 0;
        font-size: 14px !important;
        margin: 8px 0 !important;
        margin-top: 0 !important;
    }
}