.laptop-container {
	width: 290px;
	border-radius: 8px;
	background: white;
    margin-right: 15px;
    margin-bottom: 15px;
	position: relative;
}
.laptop-container img{}
.laptop-info{
    text-align: left;
}
.laptop-info h5 {
	margin: 10px 15px;
	font-size: 15px;
}
.laptop-info ul {
	padding-left: 0;
	padding: 29px;
	padding-top: 0;
}
.laptop-info ul li {
	font-size: 14px;
	margin-bottom: 7px;
}
.laptop-container button {
	width: 171px;
	padding: 6px 0;
	position: absolute;
	bottom: 5px;
	left: 10px;
}

@media screen and (max-width: 600px) {
    .laptop-container img {
        width: 160px;
    }
    .laptops-container {
        width: 65%;
    }
    .laptop-container button {
        width: 160px;
        padding: 6px 0;
        position: absolute;
        bottom: 5px;
        left: 10px;
        font-size: 13px;
    }
	
}
