.laptops-container{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    width: 70%;
}
.carts-container {
	width: 25%;
	background: white;
	margin-right: 15px;
	margin-top: 15px;
	border-radius: 8px;
	max-height: 600px;
	position: sticky;
	top: 0;
	padding: 0 20px;
}
.shop-name{}
.shop-name h2{
	margin-bottom: 0;
}
.shop-name h3 {
	margin-top: 5px;
}


@media screen and (max-width: 600px) {
	.laptops-container {
        margin: 8px;
        width: 47%;
    }
	.carts-container {
		width: 50%;
		margin-top: 8px;
		border-radius: 8px;
		max-height: 500px;
		position: sticky;
		top: 0;
		padding: 0px 10px;
		overflow: scroll;
	}
	
}