.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	padding: 0 62px;
}
.header-container img {
	width: 120px;
}
.header-container ul{}
.header-container ul li {
	list-style: none;
	display: inline-block;
	margin: 7px;
	font-weight: 900;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
	.header-container {
		padding: 0 21px;
	}
	.header-container img {
		width: 95px;
	}
	.header-container ul li {
		list-style: none;
		display: inline-block;
		margin: 7px;
		font-weight: 500;
		font-size: 14px;
	}
}